{% extends "base.html" %}
{% block title %}FORUM RAP | Modifier la description{% endblock title %}
{% block content %}
<!-- FORMULAIRE POUR EDITER EN BASE SA DESCRIPTION (PAS CELLE DES AUTRES)-->
<div class="container">
  <h2>Modifier la description</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </form>
</div>

<div class="row justify-content-center mt-4">
  <div class="col-md-4">
    <button onclick="window.history.back();" class="btn btn-primary">Retour au profil</button>
  </div>
</div>
{% endblock content %}